* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-color: black;
    height: 80px;
}

header .heder-left{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.riot{
    width: 100px;
    height: 80;
    margin: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.valo{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
}

.dropdown{
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    bottom: 30px;
    margin-left: 40px;
    cursor: pointer;
}

.dropdown:hover{
    color: rgb(194, 79, 79);
    background-color: lightslategray;
}

.search{
    padding: 10px;
    background-color: gray;
    position: relative;
    bottom: 25px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    border: none;

}

.global{
    padding: 15px;
    background-color: black;
    position: relative;
    bottom: 25px;
    cursor: pointer;
    border: none;
    outline: none;
}

main h1 {
  margin-bottom: 20px; /* 이 값을 줄이면 간격이 좁아짐 */
}

main h2 {
  margin-top: 0;
}

.play{
    width: 150px;
    height: 35px;
    background-color: rgb(194, 79, 79);
    color: black;
    border-radius: 15px;
    border: none;
    outline: none;
    text-align: center;
    position: relative;
    bottom: 30px;
    cursor: pointer;
}

.overlay{
    margin-bottom: 0;
    height: 600px;
    background-color: gray;
    background-image: url(https://img3.yna.co.kr/etc/inner/KR/2020/03/01/AKR20200301071400017_04_i_P4.jpg);
}

.title{
    color: white;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
    height: 100px;
    line-height: 270px;
}

.overlay h2{
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 250px;
}

.free{
    width: 180px;
    height: 70px;
    background-color: rgb(238, 88, 88);
    border: 2px solid gray;
    outline: 1px solid white;
    font-size: 16px;
    color: white;
    margin-left: 600px;
    cursor: pointer;
}

.free:hover{
    background-color: white;
    color: black;
}

.news{
    height: 600px;
    border-bottom: 3px solid gray;
    background-color: rgb(227, 218, 207);
}

.news h1{
    font-size: 50px;
    height: 50px;
    line-height: 150px;
    margin-left: 80px;
}

.news a{
    display: inline-block;
    margin-left: 1230px;
    text-decoration: none;
    color: black;
}

.news-boxs {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    padding: 0 40px;
}

.new-box {
    display: flex;
    margin-bottom: 50px;
    top: 300px;
    background-color: #f0f0f0;
    width: 400px;
    height: 210px; 
    margin-left: 50px;
    cursor: pointer;
    margin-top: 40px;
    border: 3px solid black;
}

.update1{
    display: inline-block;
    margin-left: 90px;
    height: 30px;
}

.update2{
    display: inline-block;
    margin-left: 255px;
    height: 30px;
}

.update3{
    display: inline-block;
    margin-left: 305px;
    height: 30px;
}

.new-cha{
    height: 500px;
    border-bottom: 3px solid gray;
    background-color: green;
}

.bito{
    display: flex;
    color: white;
    font-size: 70px;
    margin-left: 700px;
}